<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Pop art and curated goods from Assthingland. Discover unique items and artistic designs." />
    <title>Assthingland</title>
  </head>
  <body>
    {% comment %}Add content here{% endcomment %}
  </body>
</html>
